@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope&display=swap%27');

/* ---- VARIABLES ---- */
:root {
    --main-yellow: #FFD15B;
    --light-gray: #7A7A7A;
    --font-family-main: "Manrope";
    --font-family-title: "Anton", sans-serif;
}

/* ---- BASE STYLES ---- */
* {
    box-sizing: border-box;
    margin: 0;
}

/* ---- HEADER ---- */
.header {
    background-image: url(/assets/images/background.jpg);
    max-width: 100%;
    height: auto;
    padding-bottom: 15%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header a img {
    margin: 50px 0 0 70px;
}

.header h1 {
    color: var(--main-yellow);
    text-transform: uppercase;
    font-size: 2.75rem;
    font-family: var(--font-family-title);
    letter-spacing: 2px;
    max-width: 800px;
    text-align: center;
    margin: 15% auto 40px;
}

/* ---- SEARCH BAR ---- */
.search-bar-form {
    position: relative;
    width: 60%;
    margin: 0 auto; 
}

.search-bar__input {
    width: 100%;
    height: 70px;
    padding: 10px 40px 10px 20px; 
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    background-color: white;
}

.search-bar__magnifying-glass {
    position: absolute; 
    right: 5px;
    top: 50%; 
    transform: translateY(-50%); 
    background: none; 
    border: none; 
}

.search-bar__erase {
    position: absolute; 
    right: 85px;
    top: 50%; 
    transform: translateY(-50%); 
    background: none; 
    border: none; 
    cursor: pointer; 
    font-size: 1.5rem;
    color: lightgray;
}

.hidden {
    display: none;
}

.search-bar__submit img {
    width: 45px;
    height: 45px;
}

.recipes-container.no-results {
    display: block;
    grid-template-columns: none;
}

.no-results {
    font-family: var(--font-family-main);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

main {
    background-color: lightgray;
}

/* ---- CARDS ---- */
.recipes-container {
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 3% 5%;
}

.recipe_card {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    height: 780px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    transition: transform 0.3s ease-in-out;
}

.recipe_card:hover {
    transform: scale(1.03);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.recipes-container > * {
    min-width: 0;
}

.recipe_picture {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 253px;
    margin-bottom: 3%;
    object-fit: cover;
}

.recipe_timer {
    display: flex;
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 5px 16px;
    background-color: var(--main-yellow);
    border-radius: 50px;
}

.recipe_content {
    padding: 0 30px;
}

.recipe_title {
    font-family: var(--font-family-title);
    font-size: 1.2em;
    margin-bottom: 20px;
}

.description_title,
.ingredients_list,
.recipe_description,
.ingredient_name,
.ingredient_unit {
    font-family: var(--font-family-main);
}

.description_title,
.ingredients_list {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--light-gray);
}

.recipe_description {
    margin-bottom: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.div_ingredient_bloc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 160px;
}

.div_ingredients_group {
    margin-bottom: 25px;
}

.ingredient_name {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%; 
}

.ingredient_unit {
    color: var(--light-gray);
}

/* ---- SPAN RECIPE NUMBER ---- */

.recipe-count {
    position: absolute;
    top: 35px;
    right: 95px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    width: 120px;
    height: 32px;
    font-size: 1.6rem;
}

/* ---- FILTERS ---- */

.filters-container {
    position: relative;
    display: flex;
    padding-left: 5%;
    padding-top: 1%;
    gap: 67px;
    background-color: lightgray;
}

.filterBox {
    position: relative; 
    /* height: 56px; */
    width: 13%;
    margin-right: 67px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.toggle {
    font-size: 1.2rem;
    transform: translateY(-50%); 
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 25px;
    padding: 5px 0 5px 15px;

}

.fa-chevron-down {
    position: absolute;
    right: -50px;
    font-size: 1rem;
}

.searchBar_filter {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    margin-bottom: 20px;
    outline: none; 
    font-size: 1.1rem;
    border: 1px solid lightgrey;
}

.type_list {
    position: relative;
    padding: 0 10px;
}


.filter-item {
    display: flex;
    flex-direction: column;
    padding: 4px 10px;
    cursor: pointer;

}

.filter-item:hover {
    background-color: #FFD15B;
}

.tags-container {
    display: inline-block;
    background-color: lightgray;
}


.tag {
    display: block;
    padding: 10px 10px;
    margin: 5px;
    background-color: #FFD15B;
    border-radius: 5px;
    max-width: max-content;
}

.search-tag__erase {
    position: absolute;
    right: 20px;
    top: 5px;
    color: lightgray;
}

.tag__erase {
    margin-left: 25px;
    padding: 6px 8px;
    background-color: transparent;
    border: none;
}

